

@font-face {
    font-family: 'Abel';
    src: url(./docs/assets/fonts/Abel/Abel-Regular.ttf);
}


* {
    margin: 0;
    border: 0;
}



body{
    background-color: black;
    display: grid;
    color: white;
    aspect-ratio: 16/9;
    grid-template-columns: 10fr 30fr 30fr 25fr 25fr;
    grid-template-rows: 30fr 1fr 10fr 10fr 7.5fr 7.5fr 15fr;
}


/* rpm bar styles */

#rpm{
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    grid-column: 1/6;
    grid-row: 1/2;
}

#rpm #rpmgauge{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url("./docs/assets/images/rpmScale.png");
}

#rpm #rpmgauge #shiftbar{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 1.5%;
    margin-left: 1.5%;
    background-image: linear-gradient(to left, yellow, yellow);
    text-align: right;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    position: relative;
    z-index: 10;
}



#rpm #rpmcounter{
    text-align: right;
    font-family:Abel;
}

/* end of rpm bar styles*/



/*tps bar styles*/

#tps{
    background-color: black;
    width: 8vw;
    height: 35vw;
    grid-column: 1/2;
    grid-row: 2/6;
}
#tps #tpsbar{
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:left;
}
#tps #scale{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#tps #scale div{
    width: 3vw;
    height: 14vw;
    border-top: 1px;
    border-bottom:1px;
    border-left: 1px;
    border-style: solid;
    border-color: white;
}
#tps #tpsbar #tpsmeter{
    position: absolute;
    bottom: 0.5vw;
    left: 2vw;
    width: 5vw;
    margin-top:0.5vw;
    background-color: white;
}
#tps #value{
    color:white;
    font-family: Abel;
    font-size: 2vw;
}
#tps #value #tpsBarPercent{
    font-size: 3vw;
}

/*end of tps bar styles*/

/*timing meter style*/

#timing{
    display: flex;
    flex-direction: row;
    padding: 1vw;
    border: solid white 0.25vw;
    margin: 0.5vw;
    grid-column: 2/4;
    grid-row: 2/3;
}
#timingValue{
    font-size: 6vw;
}
/*end of timing meter style*/

/*last lap meter*/

#last{
    padding: 0.5vw;
    border: solid white 0.25vw;
    margin: 0.5vw;
    grid-column:3 /4 ;
    grid-row: 3/ 4;
}

/*end of last lap meter*/

/*best lap meter*/

#best{
    padding: 0.5vw;
    border: solid white 0.25vw;
    margin: 0.5vw;
    grid-column: 3/ 4;
    grid-row: 4/ 5;
}

/*end of best lap meter*/


/* delta meter*/

#delta{
    grid-column: 2/ 3;
    grid-row: 3/ 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5vw;
    border: solid white 0.25vw;
    margin: 0.5vw;
}
#delta #deltaValue{
    color: red;
    font-size: 6vw;
}
/* end of delta meter*/

/*gear indicator styles*/

#gear{
    grid-column: 4/5;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5vw;
    border: solid white 0.25vw;
    margin: 0.5vw;
}



#gear #gearValue{
    color: white;
    font-size: 10vw;
}

/*end of gear indicator styles*/

/*velocity meter styles*/

#velocity{
    grid-column: 5/6;
    grid-row: 2/5;
    position: absolute;
    right: 0px;
    overflow: hidden;
    background-color: black;
    color: white;
    height: 20vw;
    width: 20vw;
    position: relative;
    margin-left: 2vw;
}

#velocity .gauge{
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vw;

}

#velocity .move{
    color: blue;
}


#velocity #value{
    font-family: Abel;
    font-size: 2vw;
    position:absolute;
    top: 7vw;
    left: 7vw;
    width: 50px;
    height: 50px;
}

/*end of velocity meter styles*/

/*oil pressure meter styles*/

#oilPressure{
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    font-size: 2.5vw;
    display: grid;
    grid-template-columns: 32.5% 32.5% 35%;
    grid-template-rows: 2vw 1fr;
}
#oilPressureScale{
    padding:1.5vw;
    background-image: url("./docs/assets/images/scale.png");

    aspect-ratio: 4/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    grid-column: 1/ 3;
    grid-row: 2/ 3;

}
#oilPressureBar{
    height: 100%;
    background-color: white;
}
#oilPressureLabel{
    grid-column: 1 /2;
    grid-row: 1/ 2;
}

#oilPressureWarning{
    
    grid-column: 2 /3;
    grid-row: 1/ 2;
}
#oilPressureValue{
    grid-column: 1/2;

    font-size: 6vw;
}
#oilPressure h6{
    grid-column: 2/3;
}

#oilValue{
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 80% 20%;
    
}
#oilPressureWarning{
    color:red;
}


/*end of oil pressure meter styles*/

/*fuel meter styles*/

#fuelqtd{
    grid-column:2/ 4;
    grid-row: 7 /8;
    font-size: 2.5 vw;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 2vw 1fr;
}

#fuelqtdScale{
    padding:1.5vw;
    background-image: url("./docs/assets/images/scale.png");

    aspect-ratio: 4/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    grid-column: 1/ 2;
    grid-row: 2/ 3;

}

#fuelqtdBar{
    
    height: 100%;
    background-color: white;
}



#fuelqtdLabel{

    grid-column: 1 /3;
    grid-row: 1/ 2;
}
#fuelqtdValue{
    
    grid-column: 1/2;
    font-size: 6vw;
}
#fuelqtd h6{
    
    grid-column: 2/3;
}


#fuelValue{
    
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 80% 20%;
    
}

/*end of fuel meter styles*/


/*lambda meter styles*/

#lambda {
    flex-direction: column;
    justify-content: end;
    position: relative;
    background-image: url("./docs/assets/images/lambda2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 4/5;
    grid-row: 5/ 8;
}

/*end of lambda meter styles*/


/*engine temperature styles*/

#engineTemp{
    grid-column: 5/6;
    grid-row: 5/8;
    position:absolute;
    overflow: hidden;
    background-color: black;
    color: white;
    height: 20vw;
    width: 20vw;
    position: relative;
    margin-left: 2vw;
}


#engineTemp #value{
    font-family: Abel;
    font-size: 2vw;
    position:absolute;
    top: 7vw;
    left: 7vw;
    width: 50px;
    height: 50px;
}

#engineTemp .gauge{
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vw;
}
#engineTemp .move{
    color: red;

}

/*end of engine temperature styles*/



 
.warning{
    color: red;
}

.splitter{
    height: 0.5vw;
    width: 10vw;
    background-color: white;
    border: none;
}


